.contacts-list {
  @include list-reset();

  display: flex;

  margin-right: 50px;
}

.contacts-list__link {
  font-family: $PTMono;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;

  text-decoration: none;

  color: $white;
}

.contacts-list__item {
  margin-right: 120px;
  position: relative;

  &:last-child {
    margin-right: 0;
  }
}


.contacts-list__link-icon--email {
  position: absolute;
  width: 18px;
  height: 14px;
  top: 1px;
  left: -38px;
}


.contacts-list__link-icon--phone {
  position: absolute;
  width: 18px;
  height: 18px;
  top: -2px;
  left: -32px;
}


@media (max-width: $tablet) {
  .contacts-list__item {
    margin-right: 0;

    position: relative;
  }

  .contacts-list__link span {
    display: none;
  }

  .contacts-list__link-icon--email {
    width: 35px;
    height: 18px;
    top: -13px;
    left: -41px;
  }

  .contacts-list__link-icon--phone {
    position: absolute;
    width: 32px;
    height: 24px;
    top: -16px;
    left: 18px;
  }
}

@media (max-width: $mobile) {
  .contacts-list__link-icon--email {
    width: 35px;
    height: 18px;
    top: -14px;
    left: -23px;
  }

  .contacts-list__link-icon--phone {
    position: absolute;
    width: 32px;
    height: 24px;
    top: -17px;
    left: 28px;
  }
}
