footer {
  background-color: #fafafa;
  flex-shrink: 0;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: 264px;
    left: 0;
    background-color: #626962;
    opacity: 0.2;
  }
}

@media (max-width: $tablet) {
  footer {
    &::after {
      top: 387px;
      left: 0;
    }

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      bottom: 360px;
      left: 0;
      background-color: #626962;
      opacity: 0.2;
    }
  }
}

@media (max-width: $mobile) {
  footer {
    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }
}
