.header-logo__image {
  display: block;
  position: relative;

  margin-top: 34px;
  margin-left: 14px;
}

.header-logo {
  display: flex;
}

.header-logo div {
  margin-top: 39px;
  margin-left: 14px;
}


@media (max-width: $tablet) {
  .header-logo__image {
    margin-top: 20px;
    margin-left: 6px;
  }

  .header-logo div {
    margin-top: 27px;
    margin-left: 14px;
  }
}

@media (max-width: $mobile) {
  .header-logo__image {
    margin-top: 16px;
    margin-left: -3px;
  }
}
