.social-list {
  @include list-reset();

  display: flex;
  margin-top: 55px;
  margin-left: 12px;
}

.social-list__item {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}

.social-list__icon {
  width: 27px;
  height: 27px;
}

@media (max-width: $tablet) {
  .social-list {
    margin: 0;
    margin-right: 3px;
    padding-top: 31px;
  }
}

@media (max-width: $mobile) {
  .social-list {
    margin: 0;
    padding-top: 19px;
  }
}
