.social-list {
  @include list-reset();

  display: flex;
  width: 150px;
  margin-top: 55px;
  margin-left: 12px;

  flex-wrap: wrap;
}

.social-list__item {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}

.social-list__icon {
  width: 27px;
  height: 27px;

  &:hover,
  &:focus {
    background-color: $blue;
    border-radius: 50%;
  }

  &:active {
    opacity: 0.8;
  }
}

@media (max-width: $tablet) {
  .social-list {
    width: 130px;
    margin: 0;
    margin-right: -16px;
    padding-top: 31px;
  }
}

@media (max-width: $mobile) {
  .social-list {
    margin-right: -17px;
    padding-top: 19px;
  }
}
