.wrapper {
  max-width: 1423px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;

  &--about-company {
    display: block;
  }

  &--services {
    flex-direction: column;
  }

  &--feedback {
    flex-direction: column;
    //justify-content: space-between;
  }

  &--services,
  &--footer {
    flex-direction: column;
  }
}

@media (max-width: $mobile) {
  .wrapper {
    &--footer {
      padding: 0;
    }

    &--main-block,
    &--about-company,
    &--advantages,
    &--feedback {
      padding: 15px;
    }

    &--services {
      padding: 10px;
    }
  }
}
