.wrapper {
  max-width: 1423px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;

  outline: 1px solid red;

  &--about-company {
    display: block;
  }

  &--services {
    flex-direction: column;
  }

  &--footer {
    flex-direction: column;
  }
}

@media (max-width: $mobile) {
  .wrapper {
    &--footer {
      padding: 0;
    }

    &--main-block {
      padding: 15px;
    }


  &--about-company {
    padding: 15px;
  }

    &--advantages {
      padding: 15px;
    }

    &--services {
      padding: 10px;
    }
  }
}
