//PTMono

@font-face {
  font-family: "PTMono";
  src: url("../fonts/PTMono/ptmono-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

//RobotoCondensed

@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/RobotoCondensed/robotocondensed-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/RobotoCondensed/robotocondensed-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

//Roboto

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/roboto-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
