/*Шрифты*/
$PTMono: "PTMono", "Arial", sans-serif;
$RobotoCondensed: "RobotoCondensed", "Arial", sans-serif;
$Roboto: "Roboto", "Arial", sans-serif;

/*Цвета*/

$blue: #00b2ff;
$dark: #1b2d37;
$white: #ffffff;

/*Расширение экрана*/

$tablet: 1023px;
$mobile: 767px;
$test: 550px;


/*Ретина*/
$retina-dppx: 1.5dppx;
